@import 'global.scss';

*{
    box-sizing: border-box;
}

.btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;

    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    &:hover{
        cursor: pointer;
    }

    &.btn-primary{
        color: #FFF;
        background-color: #4ca90c;
        border: 1px solid #4ca90c;
        &:hover{
            background-color: rgba(76,169,12,0.7);
        }
    }

    &.btn-secondary{
        color: #4ca90c;
        border: 1px solid #4ca90c;
        background-color: #FFF;
        &:hover{
            background-color: rgba(76,169,12,0.1);
        }
    }
}

.hidden{
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}

body{
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    header{
        height: 50px;
        background-color: #084c8b;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img{
            height: 100%;
            width: auto;
        }
    }

    h1{
        font-size: 16px;
    }

    h1.main-title{
        margin-bottom: 16px;
        color: #4ca90c;
    }

    
    #cart-wrapper{
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        .title{
            margin-top: 20px;
            .steps{
                color: #b3b3b3;
            }
        }

        .cart-main{
            display:grid;
            grid-template-columns:repeat(4, 1fr);
            grid-gap:16px;
            grid-auto-rows: auto;
            section{
                border: 1px solid rgba(66,66,66,0.2);
                width: 100%;
                padding: 16px;
                grid-column: 1/5;
                h1, h2, h3{
                    margin-top: 0;
                }
            }
            .section1{
                .delivery-method{
                    border-bottom: 1px solid rgba(66,66,66,0.2);
                    padding-bottom: 16px;
                }

                .delivery-method-step2{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(66,66,66,0.2);
                    margin-bottom: 16px;
                }

                .pickup-location{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(3,auto);
                    grid-gap: 16px;
                    border-bottom: 1px solid rgba(66,66,66,0.2);
                    margin-bottom: 16px;

                    h3{
                        grid-column: 1/3;
                        margin-bottom: 0;
                    }
                    address{
                        grid-column: 1/3;
                        grid-row: 2/3;
                        font-style: normal;
                    }
                    .distance{
                        grid-column: 1/2;
                        color: rgba(66,66,66,0.6);
                    }
                    .view-details{
                        grid-column: 2/3;
                        justify-self: end;
                        color: rgba(66,66,66,0.8);
                        margin-bottom: 16px;
                    }
                    
                }

                .club-select{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: auto auto 1fr;
                    padding: 16px 0 0;
                    grid-row-gap: 16px;
                    grid-column-gap: 8px;
                    h3{
                        grid-column: 1/5;
                        margin-bottom: 0;
                        grid-template-rows: auto;
                    }
                    label{
                        align-self: center;
                        grid-row: 2;
                        grid-column: 1/5;
                    }
                    input{
                        padding: 5px;
                        grid-column: 1/4;
                        grid-row: 3;
                        border: 1px solid rgba(66,66,66,0.2);
                    }
                    button{
                        grid-column: 4/5;
                        grid-row: 3;
                    }
                }
            }
            .clubs-list{
                margin-top: 5px;
                .club-wrapper{
                    // display: grid;
                    // grid-template-columns: auto 1fr auto;
                    // grid-gap: 8px;
                    padding: 16px;
                    margin-bottom: 16px;
                    border: 1px solid rgba(66,66,66,0.2);
                    input{
                        align-self: start;
                    }
                    label{
                        grid-column: 2/4;
                        grid-row: 1;
                    }

                    .club-info {
                        display: grid;
                        grid-template-columns: auto 1fr auto;
                        grid-gap: 8px;
                        background-color: #fff;
                        position: relative;
                        z-index: 2;
                    }

                    .distance{
                        grid-column: 2/3;
                        grid-row: 2;
                        color: #b3b3b3;
                    }
                    .view-details-btn {
                        grid-column: 3/4;
                        grid-row: 2;
                        color: #1977d3;
                        cursor: pointer;
                    }

                    .view-details {
                        display: grid;
                        grid-row: 3;
                        grid-column: 2 / 4;
                        overflow: hidden;
                        max-height: 0;
                        will-change: max-height transform;
                        padding-left: 25px;
                        position: relative;
                        z-index: 1;

                        .details-weekdays,
                        .details-sat, 
                        .details-sun {
                            display: grid;
                            grid-template-columns: 1.5fr 1fr 1fr;
                            line-height: 20px;

                            .details-tel,
                            .details-viewmap {
                                grid-column: 1;
                            }
    
                            .details-day {
                                grid-column: 2;
                            }
    
                            .details-time {
                                grid-column: 3;
                                justify-self: flex-end;
                            }

                            .details-viewmap {
                                color: $link-color;
                            }
                        }
                    }
                }
            }
            .order-total-wrapper{
                border: none;
                padding: 0;

                .order-container{
                    border: 1px solid rgba(66,66,66,0.2);
                    padding: 16px;
                    margin-bottom: 16px; 

                    .order-total{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: auto auto auto auto;
        
                        .promo-code{
                            grid-column: 1/3;
                            color: #1977d3;
                            span.brackets{
                                color: #8d8d8d;
                                font-size: 12px;
                            }
                            &:hover{
                                cursor: pointer;
                            }
                        }

                        .subtotal-name{
                            grid-column: 1/2;
                            grid-row: 2;
                        }
                        .subtotal-value{
                            grid-column: 2/3;
                            grid-row: 2;
                        }
                        .sales-tax-text{
                            grid-column: 1/2;
                            grid-row: 3;
                        }
                        .sales-tax-value{
                            grid-column: 2/3;
                            grid-row: 3;
                        }
            
                        .total-section{
                            border-top: 1px solid rgba(66,66,66,0.2);
                            grid-column: 1/3;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            p{
                                margin: 16px 0;
                            }
            
                            .grand-total-value{
                                justify-self: end;
                            }
            
                            .grand-total, .grand-total-value{
                                font-size: 20px;
                            }
                        }
            
                        .subtotal-value, .sales-tax-value{
                            justify-self: end;
                        }
            
                        .subtotal-name, .subtotal-value, .sales-tax-text, .sales-tax-value{
                            margin: 5px 0;
                        } 
                    }    
                }
            }
        
            .continue-btn{
                border: 0;
                padding: 0;
                button{
                    width: 100%;
                }
            }

            .order-summary{
                .order-summary-title{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(66,66,66,0.2);
                    span.change-order{
                        color: #1977D3;
                    }
                }
                .availability{
                    padding-top: 8px;
                    .blue-clickable{
                        color: #1977D3;
                    }
                }
                .my-orders-wrapper{
                    display: grid;
                    grid-row-gap: 16px;
                    margin-top: 16px;
                    .my-order-grid{
                        display: grid;
                        grid-column-gap: 16px;
                        grid-row-gap: 8px;
                        grid-template-columns: 72px 1fr;
                        grid-auto-rows: auto; 
                        border-bottom: 1px solid rgba(66,66,66,0.2);
                        padding-bottom: 16px;
                        &:last-child{
                            border: 0;
                        }
                        img{
                            grid-column: 1;
                            grid-row: 1 / 4;
                            justify-self: center;
                            align-self: center;
                        }
    
                        h4{
                            margin: 0;
                            grid-column: 2 / 3;
                            align-self: center;
                        }
                        .item-price{
                            grid-column: 2 / 3;
                            align-self: center;
                            font-weight: 700;
                        }
                        .item-quantity{
                            grid-column: 2 / 3;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}

// Media Queries
@media (min-width: 768px) {
    body{
        #cart-wrapper{
            display:grid;
            grid-template-columns:repeat(12, 1fr);
            grid-column-gap:8px;
            grid-row-gap: 16px;
            .title{
                margin-top: 20px;
                grid-column: 2/12;
            }
            .cart-main{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-column-gap:8px;
                grid-row-gap: 16px;
                grid-column: 2/12;
                .section1{
                    .club-select{
                        grid-template-rows: auto auto;
                        grid-template-columns: auto 1fr 1fr 1fr 1fr;
                        label{
                            grid-column: 1/2;
                            margin-bottom: 0;
                            align-self: center;
                        }
                        input{
                            grid-row: 2;
                            grid-column: 2/4;
                        }
                        button{
                            grid-row: 2;
                            grid-column: 4/5;
                        }
                    }
                }
                .order-summary{
                    .my-orders-wrapper{
                        .my-order-grid{
                            grid-template-columns: repeat(12,1fr);
                            h4{
                                grid-column: 2/12;
                            }
                            .item-price{
                                grid-column: 12/13;
                                grid-row: 1;
                            }
                            .item-quantity{
                                grid-column: 2/12;
                                grid-row: 2;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (min-width: 1024px) {
    body{
        #cart-wrapper{
            .title{
                grid-column: 1/12;
            }
            .cart-main{
                display: grid;
                grid-template-columns: repeat(12,1fr);
                grid-gap: 16px;
                grid-column: 1/13;
                grid-template-rows: auto auto auto auto;

                section{
                    grid-column: 1/9;
                }
                section.section1{
                    grid-row: 1;

                    .clubs-list{
                        .club-wrapper:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
                section.pay-method{
                    grid-row: 2;
                }
                section.order-total-wrapper{
                    grid-column: 9/13;
                    grid-row: span 2;
                    align-self: start;
                }

                section.continue-btn{
                    grid-column: 9/13;
                    grid-row: 2;
                    padding: 0;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    body{
        #cart-wrapper{
            max-width: 1024px;
            margin: auto;
        }
    }
}
