*{
    box-sizing: border-box;
}

.btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;

    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    &:hover{
        cursor: pointer;
    }

    &.btn-primary{
        color: #FFF;
        background-color: #4ca90c;
        border: 1px solid #4ca90c;
        &:hover{
            background-color: rgba(76,169,12,0.7);
        }
    }

    &.btn-secondary{
        color: #4ca90c;
        border: 1px solid #4ca90c;
        background-color: #FFF;
        &:hover{
            background-color: rgba(76,169,12,0.1);
        }
    }
}

body{
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;

    h1{
        font-size: 16px;
        
    }

    h1.main-title{
        margin-bottom: 16px;
        color: #4ca90c;
    }

    h1, h2, h3{
        margin: 10px 0;
        font-weight: normal;
    }
    #cart-wrapper{
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        .title{
            margin-top: 20px;
            .steps{
                color: #b3b3b3;
            }
        }
        
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img{
            height: 100%;
            width: auto;
        }
    }
    .cart-main{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        grid-auto-rows: minmax(88px, auto);
        section{
            border: 1px solid #b3b3b3;
            width: 100%;
            padding: 16px;
            h1, h2, h3{
                margin-top: 0;
            }
        }
        .section1{
            .delivery-method{
                border-bottom: 1px solid #b3b3b3;
                padding-bottom: 16px;

                input[type="radio"]{
                    color: #1977D3;
                }
            }

            .club-select{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "hd hd"
                "lb lb"
                "in bt";
                grid-template-rows: 1fr auto 1fr;
                padding: 16px 0;
                h3{
                    grid-area: hd;
                }
                label{
                    grid-area: lb;
                    margin-bottom: 10px;
                }
                input{
                    grid-area: in;
                    padding: 5px;
                    margin-right: 8px;
                }
                button{
                    grid-area: bt;
                }
            }
        }

        .order-total{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "pc pc"
            "sn sv"
            "st stv"
            "ts ts";
            grid-template-rows: 1fr auto auto 1fr;
            .promo-code{
                grid-area: pc;
            }
            .subtotal-name{
                grid-area: sn;
            }
            .subtotal-value{
                grid-area: sv;
            }
            .sales-tax-text{
                grid-area: st;
            }

            .sales-tax-value{
                grid-area: stv;
            }

            .total-section{
                grid-area: ts;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: 1px solid #b3b3b3;
                margin-top: 16px;
                p{
                    margin: 16px 0;
                }

                .grand-total, .grand-total-value{
                    font-size: 20px;
                }
            }

            .subtotal-value, .sales-tax-value{
                justify-self: end;
            }

            .subtotal-name, .subtotal-value, .sales-tax-text, .sales-tax-value{
                margin: 5px 0;
            } 
        }
    }

    header{
        height: 50px;
        background-color: #084c8b;
    }
}
